body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
}
#u597_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u597_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:360px;
  height:507px;
  overflow:hidden;
}
#u599_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u599_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:511px;
  overflow:hidden;
}
#u600_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:511px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u600_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:873px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-363px;
  width:360px;
  height:873px;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:454px;
  width:270px;
  height:40px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:462px;
  width:24px;
  height:24px;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:73px;
  overflow:hidden;
}
.u606_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:73px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u606_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.117647058823529);
}
.u608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:72px;
}
.u608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
.u609 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:9px;
  width:192px;
  height:52px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
.u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:192px;
  word-wrap:break-word;
}
.u610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:52px;
}
.u610 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:9px;
  width:54px;
  height:52px;
}
.u610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u611 {
  position:absolute;
  left:265px;
  top:47px;
}
.u611_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
  background-image:none;
}
.u611_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
  background:inherit;
  background-color:rgba(76, 175, 80, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
.u612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
.u612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
.u611_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
  visibility:hidden;
  background-image:none;
}
.u611_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 193, 7, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
.u613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
.u613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
.u611_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
  visibility:hidden;
  background-image:none;
}
.u611_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
  background:inherit;
  background-color:rgba(244, 67, 54, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
.u614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
.u614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
.u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
.u615 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:9px;
  width:82px;
  height:35px;
  text-align:center;
}
.u615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u605-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:73px;
}
#u605-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:360px;
  height:73px;
}
#u605-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:146px;
  width:360px;
  height:73px;
}
#u605-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:219px;
  width:360px;
  height:73px;
}
#u605-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:292px;
  width:360px;
  height:73px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:365px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:81px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:81px;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Bold', 'Verdana Regular', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#105978;
  text-align:center;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:38px;
  width:151px;
  height:20px;
  font-family:'Verdana Bold', 'Verdana Regular', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#105978;
  text-align:center;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:89px;
  width:347px;
  height:36px;
  overflow:hidden;
}
#u619_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u619_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:36px;
  background:inherit;
  background-color:rgba(142, 142, 147, 0.117647058823529);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:36px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:3px;
  width:278px;
  height:30px;
}
#u622_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:30px;
  background-color:transparent;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-decoration:none;
  color:#8E8E93;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u622_input {
  font-family:'Roboto';
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:14px;
  height:14px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:36px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u619_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#1E1E1E;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:0px;
  width:75px;
  height:36px;
  font-size:17px;
  color:#1E1E1E;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#007AFF;
  text-align:right;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:8px;
  width:58px;
  height:20px;
  font-size:17px;
  color:#007AFF;
  text-align:right;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
  background:inherit;
  background-color:rgba(142, 142, 147, 0.117647058823529);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
  font-size:17px;
  color:#FFFFFF;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:3px;
  width:203px;
  height:30px;
}
#u629_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
  background-color:transparent;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-decoration:none;
  color:#8E8E93;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u629_input {
  font-family:'Roboto';
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:14px;
  height:14px;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:38px;
  width:24px;
  height:20px;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:640px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:640px;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:368px;
  width:49px;
  height:17px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:328px;
  width:118px;
  height:17px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:325px;
  width:20px;
  height:20px;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:305px;
  width:280px;
  height:1px;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:268px;
  width:89px;
  height:17px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:227px;
  width:87px;
  height:17px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:188px;
  width:71px;
  height:17px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:224px;
  width:25px;
  height:20px;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:163px;
  background:-webkit-linear-gradient(270deg, rgba(28, 147, 233, 1) 0%, rgba(28, 147, 233, 1) 0%, rgba(28, 147, 233, 1) 100%, rgba(28, 147, 233, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(28, 147, 233, 1) 0%, rgba(28, 147, 233, 1) 0%, rgba(28, 147, 233, 1) 100%, rgba(28, 147, 233, 1) 100%);
  background:linear-gradient(180deg, rgba(28, 147, 233, 1) 0%, rgba(28, 147, 233, 1) 0%, rgba(28, 147, 233, 1) 100%, rgba(28, 147, 233, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:163px;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:116px;
  width:104px;
  height:24px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:21px;
  width:80px;
  height:80px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:42px;
  width:46px;
  height:50px;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:21px;
  width:80px;
  height:80px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:185px;
  width:17px;
  height:20px;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:265px;
  width:20px;
  height:20px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:26px;
  width:30px;
  height:30px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
}
#u653_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u653_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:642px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:370px;
  height:642px;
  opacity:0.600000023841858;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-7px;
  width:327px;
  height:234px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:174px;
  width:313px;
  height:220px;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:192px;
  width:113px;
  height:20px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:226px;
  width:93px;
  height:19px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#868686;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:247px;
  width:190px;
  height:14px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#868686;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u659 {
  position:absolute;
  left:43px;
  top:229px;
}
#u659_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background-image:none;
}
#u659_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:11px;
  height:11px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  visibility:hidden;
  background-image:none;
}
#u659_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663 {
  position:absolute;
  left:43px;
  top:288px;
}
#u663_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background-image:none;
}
#u663_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  visibility:hidden;
  background-image:none;
}
#u663_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:11px;
  height:11px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:285px;
  width:134px;
  height:19px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#868686;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:306px;
  width:184px;
  height:14px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#868686;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:13px;
  color:#248F8A;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:356px;
  width:49px;
  height:15px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:13px;
  color:#248F8A;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:13px;
  color:#248F8A;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:356px;
  width:18px;
  height:15px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:13px;
  color:#248F8A;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:25px;
  width:170px;
  height:245px;
  overflow:hidden;
  visibility:hidden;
}
#u671_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:245px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u671_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 1px 2px rgba(102, 102, 102, 0.349019607843137);
  font-family:'Noto Sans CJK SC Regular', 'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:240px;
  font-family:'Noto Sans CJK SC Regular', 'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:48px;
  text-align:left;
}
.u674_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:48px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u674.selected {
}
.u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:1px;
}
.u675 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:47px;
  width:152px;
  height:1px;
}
.u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:48px;
}
#u673-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:168px;
  height:48px;
}
#u673-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:168px;
  height:48px;
}
#u673-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:168px;
  height:48px;
}
#u673-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:168px;
  height:48px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
}
#u676_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676.selected {
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:2px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:168px;
  height:1px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:15px;
  width:62px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:33px;
  width:30px;
  height:30px;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
