body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
}
#u661_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u661_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:657px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-17px;
  width:360px;
  height:657px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(49, 210, 177, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:365px;
  width:89px;
  height:93px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:52px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:589px;
  width:360px;
  height:52px;
  font-size:36px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:589px;
  width:268px;
  height:48px;
  overflow:hidden;
}
#u666_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u666_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-5px;
  width:155px;
  height:52px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:4px;
  width:141px;
  height:38px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:8px;
  width:30px;
  height:30px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:40px;
  height:40px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
