body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
}
#u1643_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1643_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:125px;
  width:360px;
  height:515px;
  overflow:hidden;
}
#u1645_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:515px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1645_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:515px;
  overflow:hidden;
}
#u1646_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:515px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1646_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1116px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1116px;
}
#u1647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:846px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:360px;
  height:846px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1648_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  word-wrap:break-word;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1056px;
  width:360px;
  height:60px;
  overflow:hidden;
}
#u1649_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1649_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1650_img {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-5px;
  width:342px;
  height:52px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:328px;
  height:38px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:324px;
  word-wrap:break-word;
}
#u1651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:354px;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:681px;
  width:242px;
  height:354px;
}
#u1651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:240px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:279px;
  width:240px;
  height:240px;
}
#u1653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  text-align:center;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:227px;
  width:281px;
  height:26px;
  font-size:21px;
  text-align:center;
}
#u1654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u1655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:19px;
  color:#333333;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:345px;
  width:71px;
  height:22px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:19px;
  color:#333333;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:453px;
  width:46px;
  height:14px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#333333;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:367px;
  width:119px;
  height:78px;
  font-size:72px;
  color:#333333;
}
#u1657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u1658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:210px;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:0px;
  width:246px;
  height:210px;
}
#u1658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:125px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:125px;
}
#u1660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:114px;
}
#u1662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Bold', 'Verdana Regular', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#105978;
  text-align:center;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:38px;
  width:139px;
  height:20px;
  font-family:'Verdana Bold', 'Verdana Regular', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#105978;
  text-align:center;
}
#u1663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1665_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-2px;
  width:189px;
  height:14px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:180px;
  height:5px;
}
#u1665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#636363;
  text-align:center;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:84px;
  width:57px;
  height:19px;
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#636363;
  text-align:center;
}
#u1666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Bold', 'Verdana Regular', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00538C;
  text-align:center;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:84px;
  width:79px;
  height:14px;
  font-family:'Verdana Bold', 'Verdana Regular', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00538C;
  text-align:center;
}
#u1667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:525px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:125px;
  width:360px;
  height:525px;
  font-family:'Verdana';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1669_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  word-wrap:break-word;
}
#u1670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:177px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:333px;
  width:288px;
  height:177px;
}
#u1670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:247px;
  width:16px;
  height:16px;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:186px;
  width:16px;
  height:16px;
}
#u1672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:307px;
  width:16px;
  height:16px;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:38px;
  width:24px;
  height:20px;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:640px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:640px;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:368px;
  width:49px;
  height:17px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:328px;
  width:118px;
  height:17px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:325px;
  width:20px;
  height:20px;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:305px;
  width:280px;
  height:1px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:268px;
  width:89px;
  height:17px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u1684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:227px;
  width:87px;
  height:17px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:188px;
  width:71px;
  height:17px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:224px;
  width:25px;
  height:20px;
}
#u1686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:163px;
  background:-webkit-linear-gradient(270deg, rgba(28, 147, 233, 1) 0%, rgba(28, 147, 233, 1) 0%, rgba(28, 147, 233, 1) 100%, rgba(28, 147, 233, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(28, 147, 233, 1) 0%, rgba(28, 147, 233, 1) 0%, rgba(28, 147, 233, 1) 100%, rgba(28, 147, 233, 1) 100%);
  background:linear-gradient(180deg, rgba(28, 147, 233, 1) 0%, rgba(28, 147, 233, 1) 0%, rgba(28, 147, 233, 1) 100%, rgba(28, 147, 233, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:163px;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:116px;
  width:104px;
  height:24px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:21px;
  width:80px;
  height:80px;
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:42px;
  width:46px;
  height:50px;
}
#u1691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:21px;
  width:80px;
  height:80px;
}
#u1692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:185px;
  width:17px;
  height:20px;
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:265px;
  width:20px;
  height:20px;
}
#u1694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:26px;
  width:30px;
  height:30px;
}
#u1695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
