body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
  touch-action:none;
}
#u811_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u811_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:640px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:362px;
  height:640px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:450px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:621px;
  width:450px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u815 {
  position:absolute;
  left:-1px;
  top:-8px;
}
#u815_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:364px;
  height:90px;
  background-image:none;
}
#u815_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:90px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:90px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817 {
  position:absolute;
  left:18px;
  top:49px;
}
#u817_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background-image:none;
}
#u817_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:53px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:45px;
  width:206px;
  height:33px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:53px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:206px;
  word-wrap:break-word;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:360px;
  height:559px;
  overflow:hidden;
}
#u820_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:559px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u820_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:368px;
  height:574px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:362px;
  height:568px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:555px;
}
#u822_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:555px;
  overflow:auto;
}
