body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
  touch-action:none;
}
#u1582_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1582_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:640px;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:362px;
  height:640px;
}
#u1583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:450px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:621px;
  width:450px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1586 {
  position:absolute;
  left:-1px;
  top:-8px;
}
#u1586_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:364px;
  height:90px;
  background-image:none;
}
#u1586_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:90px;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:90px;
}
#u1587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1588 {
  position:absolute;
  left:18px;
  top:49px;
}
#u1588_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background-image:none;
}
#u1588_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:53px;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:45px;
  width:206px;
  height:33px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:53px;
}
#u1590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:206px;
  word-wrap:break-word;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:360px;
  height:559px;
  overflow:hidden;
}
#u1591_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:559px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1591_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1592_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:368px;
  height:574px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:362px;
  height:568px;
}
#u1592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:555px;
}
#u1593_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:555px;
  overflow:auto;
}
