body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
  touch-action:none;
}
#u1787_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1787_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:640px;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:362px;
  height:640px;
}
#u1788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:450px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:621px;
  width:450px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1791 {
  position:absolute;
  left:-1px;
  top:-8px;
}
#u1791_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:364px;
  height:90px;
  background-image:none;
}
#u1791_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:90px;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:90px;
}
#u1792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1793 {
  position:absolute;
  left:18px;
  top:49px;
}
#u1793_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background-image:none;
}
#u1793_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:53px;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:45px;
  width:206px;
  height:33px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:53px;
}
#u1795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:206px;
  word-wrap:break-word;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:360px;
  height:559px;
  overflow:hidden;
}
#u1796_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:559px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1796_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1797_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:368px;
  height:574px;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:362px;
  height:568px;
}
#u1797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:555px;
}
#u1798_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:555px;
  overflow:auto;
}
